/* Navbar.css */
.navbar {
  background-color: #333; /* Dark background color */
  padding: 20px; /* Padding around the navbar */
}

.navbar-content {
  display: flex;
  justify-content: center; /* Center items horizontally */
}

.navbar-button {
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  padding: 15px 30px; /* Padding inside buttons */
  margin: 0 10px; /* Margin between buttons */
  background-color: #555; /* Button background color */
  border-radius: 5px; /* Rounded corners */
  font-size: 18px; /* Font size */
  transition: background-color 0.3s; /* Smooth transition */
}

.navbar-button:hover {
  background-color: #777; /* Change background color on hover */
}
